*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    /* height: 70%; */
    height: calc(100vh - 20%);
    width: 50%;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 5vw;
}
.dataFile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}
h2{
    font-size: 1.3vw;
}
.option1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}
.option2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}
.option3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}
.create{
    padding: 0.5vw 1.4vw;
    font-size: 1.3vw;
    border: none;
    border-radius: 30px;
    background-color: #5BC0DE;
    color: white
}
.create:hover{
    background-color: #4797b0;
    cursor: pointer;
}
h5{
    margin-top: 0.3vw;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    padding:0.2vw;
    margin-bottom: 2vw;
}
.againDate{
    /* margin-top: 0.8vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4vw;
}
.manual{
    display: flex;
    justify-content: space-between;
    align-items: center;
}