* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 3.2vh;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color:#d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #a8bbbf;
}
.main {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  /* height: 70%; */
  height: calc(110vh - 20%);
  width: 50%;
  background-color: rgb(241, 241, 241);
  border: none;
  border-radius: 10px;
  padding: 4vw;
  overflow-y: hidden;
}
.dataFile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vw;
}
h2 {
  font-size: 1.2vw;
}
.option1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5vw;
}
.option2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5vw;
}
.option3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5vw;
}
.create {
  padding: 0.5vw 1.4vw;
  font-size: 1.3vw;
  border: none;
  border-radius: 30px;
  /* background-color: #5BC0DE; */
  background-color: #5882fa;
  color: white;
}
.create:hover {
  /* background-color: #4797b0; */
  background-color: #3958ad;
  cursor: pointer;
}
h5 {
  font-size: 0.9vw;
  margin-top: 0.3vw;
  background-color: yellow;
  border: none;
  border-radius: 5px;
  padding: 0.2vw;
  margin-bottom: 1.5vw;
}
.againDate {
  /* margin-top: 0.8vw; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.manual {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4vw;
}
.submitFile {
  font-size: 1vw;
  width: 15vw;
  background-color: #ecebeb;
  padding: 0.5vw;
  border-radius: 6px;
}
input::file-selector-button {
  border: groove;
  border-radius: 10px;
  background-color: #d9d4d4;
  padding: 0.5vw;
}
input::file-selector-button:hover {
  color: blue;
}

.nextPage {
  margin-top: 2vh;
}
.nextPage button {
  padding: 0.5vw 1.4vw;
  font-size: 1.3vw;
  border: none;
  border-radius: 30px;
  background-color: #5882fa;
  color: white;
}
.nextPage button:hover {
  background-color: #3c58a5;
  color: white;
  cursor: pointer;
}
#line{
    border: 1px solid grey;
    width: 90vw;
    margin: 8vh;
    /* padding: 8vh; */
}
.button {
  /* background-color: red; */
  margin: 2.4vh;
  height: 6vh;
  width: 40vw;
  margin: 4vh;
}
.button button {
  height: 6vh;
  width: 40vw;
  border-radius: 50px;
  border: 2px solid black;
  /* background-color: rgb(107, 255, 156);
    bgc */
  background-color: #5882fa;
  color: white;
  font-size: 3vh;
}
.button button:hover {
  cursor: pointer;
  background-color: #3c58a5;
}
#heading {
  text-align: center;
  font-weight: 800;
  font-size: 5vh;
  margin-top: -2vh;
}
#headingMain {
  margin-top: -7.6vh;
  margin-bottom: 3vh;
  font-weight: 800;
  font-size: 4.5vh;
  text-align: center;
}
.report-heading {
  margin-top: 6vh;
  margin-bottom: 4vh;
}
.table {
  border: 2px solid black;
  width: 70vw;
  text-align: justify;
  padding: 3vh;
  margin: 4vh;
  font-size: 2.8vh;
  border-radius: 3vh;
  background-color: rgb(241, 241, 241);
}
/* #row{
    border-bottom: 2px solid rgb(246, 255, 0);
} */
.report3 {
  margin: 10vh;
  display: flex;
  justify-content: space-between;
  gap: 10vh;
  align-items: center;
  border: 2px solid black;
  padding: 5vh;
  background-color: rgb(241, 241, 241);
  border-radius: 3vh;
}
.dropdown-container {
  width: 50vh;
}
.css-b62m3t-container{
  height: 30vh;
}
.dropdown1{
  display: flex;
  /* align-items: center; */
  /* gap: 4vh;x */
}
.dropdown2{
  display: flex;
  /* align-items: center; */
  /* gap: 4vh; */
}
.dropdown3{
  display: flex;
  /* align-items: center; */
  /* gap: 4vh; */
}
.dropdown-submit{
  margin-left: 10vh;
  padding: 2vh 6vh;
  background-color: rgb(132, 188, 226);
  font-size: 2.5vh;
  border-radius: 4vh;
  color: rgb(0, 0, 0);
}
.dropdown-submit:hover{
  cursor: pointer;
  background-color: rgb(103, 145, 173);
}