.seating-container {
  display: flex;
}

.room-data {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 5vh;
}

.rooms {
  margin-top: auto;
  margin-bottom: auto;
}

.rooms h1 {
  text-align: left;
}

.rooms p {
  text-align: center;
}

.cumulative-count {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  font-size: 6vh;
  position: fixed;
  top: 90vh;
  background-color: white;
  right: 0;
  z-index:-10;
  border: 2px solid white;
  padding: 2vh;
  border-radius: 2vh;
}


input {
  padding: 2vh;
  width: 5vw;
  margin: 1vh;
  font-size: 3vh;
}
.buttons{
  display: flex;
  justify-content: space-around;
  padding: 10vh;
}
button{
  padding: 2vh;
  font-size: 3vh;
  border-radius: 5vh;
  background-color: #5882FA;
  border: none;
  color: white;
}
button:hover{
  background-color: #3958AD;
  cursor: pointer;
}